@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

*{
    box-shadow: border-box;
    margin:0;
}

.container{
    max-width: 1140px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header .row{
    justify-content: space-between;
    align-items: centre;
}
header .brand-name a{
    text-decoration: none;
    font-size: 33px;
    font-weight: 600;
    color:#ffffff;
    position: relative;
    
}
header .navbar ul{
    list-style: none;
    padding:0;
    margin:0;
}
header .navbar ul li{
    display: inline-block;
    margin-left:35px;
}
header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #CFFEEF;
    padding:0px 15px;
    z-index:10;
}
header .navbar ul li a{
    font-size: : 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;

}
header .navbar ul li a::before{
    content: " ";
    height: 3px;
    background-color: #ffffff;
    width:100%;
    position: absolute;
    left:0px;
    bottom:-1.1px;
}
.home{
    min-height: 100vh;
    background-image: url("images/backkkk.jpg");
    background-size: cover;
    background-position: centre;
}
.home .full-screen{
    min-height: 100vh;
}
.home .home-content{
    flex:0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    bottom:100px;
}
.home .home-content .block h4{
    color:#ffffff;
    font-size:25px;
    font-weight: 500;
    margin:0;
    padding:0;
}
.home .home-content .block h1{
    color:#ffffff;
    font-size:70px;
    font-weight: 500;
    margin:0 0 10px;
    padding:0;
    line-height: 1.2;

}
.home .home-content .block h3{
    color:#ffffff;
    font-size:25px;
    font-weight: 500;
    margin:0;
    padding:0;
}
